<p>Url file set: urlList.txt</p>
<table>
    <th>Idx</th>
    <th> URL with high possibility be a phishing </th>
    <tr>
        <td>1</td>
        <td>https://www.goog1e.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>https://www.carouse11.sg/</td>
    </tr>
    <tr>
        <td>3</td>
        <td>https://www.g00gle.com/search?q=github&sxsrf=AOaemvJh3t5_h8H85AE8Ajbb1IMnBrRISA%3A1636698503535&source=hp&ei</td>
    </tr>
    <tr>
        <td>4</td>
        <td>https://stackoverf1ow.com/questions/66022042/how-to-let-kubernetes-pod-run-a-local-script/66025424</td>
    </tr>
    <tr>
        <td>5</td>
        <td>https://العربية | أبرز الأخبار العالمية والمحلية العاجلة.com</td>
    </tr>
</table>


<div *ngIf = "messageService.message.length">
    <h4> Log Messages:</h4>
    <div *ngFor = 'let messageStr of messageService.message'> {{messageStr}} </div>
    <button class="clear" (click)="messageService.clear()"> clear</button>
</div>